.header{
  h1{
    font-size: 20px;
    text-align: center;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: #212529;
  width: calc(100vw - 40px);
  margin: 20px auto auto auto;
  color: white;
  padding: 15px;
}

.modal-dialog{
  padding: unset!important;
  margin: unset!important;
}
.modal-content{
  width: 100%!important;
  height: 100%!important;
}
