.footer{
  h1{
    font-size: 15px;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #212529;
  width: calc(100vw - 40px);
  margin: 20px auto auto auto;
  color: white;
  padding: 10px;
}
