<div class="content">
  <div class="locations">
    <div class="row">
      <h4>Filtre</h4>
      <div class="col-12 col-md-6 mt-1 mb-1">
        <div class="form-group">
          <input type="text" (keyup)="filter()" [(ngModel)]="filterParams.query" class="form-control"  placeholder="Başlık - İlçe - Adres Arayın">
        </div>
      </div>
      <div class="col-12 col-md-6 mt-1 mb-1">
        <div class="form-group">
          <select [(ngModel)]="filterParams.city"  (change)="filter()" name="city" class="form-control" id="city">
            <option value="">--Lütfen şehir seçiniz--</option>
            <option *ngFor="let city of cities;let i = index">{{ city.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <table class="table table-hover table-dark mt-3">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Başlık</th>
        <th scope="col">Şehir</th>
        <th scope="col">Google Maps</th>
        <th scope="col">Detay</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let location of locations">
        <th scope="row">{{ location.id }}</th>
        <td>{{ location.name }}</td>
        <td>{{ location.city }}/{{location.state}}</td>
        <td>
          <a target="_blank" *ngIf="location.google_maps_url" [href]="location.google_maps_url" href="" class="btn btn-primary">Yol Tarifi</a>
          <a *ngIf="!location.google_maps_url" href="javascript:void(0);" class="btn btn-danger">Yakında!</a>
        </td>
        <td>
          <a href="javascript:void(0);" (click)="getLocationDetail(locationModal,location)" class="btn btn-success">Detay Al</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #locationModal let-modal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">#{{locationDetail?.id}} Güvenli Alan Detayı</h5>
        </div>
        <div class="modal-body">
          Başlık:  <strong>{{locationDetail?.name ?? 'YOK'}}</strong> <br>
          Adres:  <strong>{{locationDetail?.address ?? 'YOK'}}</strong> <br>
          Şehir:  <strong>{{locationDetail?.city ?? 'YOK'}}</strong>/ <strong>{{locationDetail?.state ?? 'YOK'}}</strong> <br>
          Telefon: <strong>{{locationDetail?.phone ?? 'YOK'}}</strong>
        </div>
        <div class="modal-footer">
          <button (click)="modal.dismiss()" type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <a *ngIf="locationDetail?.phone" href="tel:{{locationDetail?.phone}}" type="button" class="btn btn-danger">Telefonda Ara</a>
          <a target="_blank" *ngIf="locationDetail?.google_maps_url" [href]="locationDetail?.google_maps_url" type="button" class="btn btn-primary">Haritada Aç</a>
        </div>
      </div>
  </div>
</ng-template>
