.content{
  .locations{
    padding: 20px;
  }
}
.modal-dialog{
  padding: unset!important;
  margin: unset!important;
}
.modal-content{
  width: 100%!important;
  height: 100%!important;
}
@media only screen and (max-width: 450px) {
  .googleMaps{
    display: none;
  }
}
